<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Groupie-Tracker</h1>
    <div class="info">
        <h3>{{.Name}}</h3>
        <img src="{{.Image}}" alt="{{.Name}}" /><br>
        <h2>Members:</h2>
        <p>{{range $i, $member := .Members}}{{if $i}}, {{end}}{{.}}{{end}}</p>
        <h2>Creation Date:</h2>
        <p>{{.CreationDate}}</p>
        <h2>First Album Date:</h2>
        <p>{{.FirstAlbum}}</p>
        <h2>Concerts:</h2>
        <ul>
            {{range $location, $dates := .DatesLocations}}
            <li>{{ $location }}: {{ range $dates }}{{ . }}, {{ end }}</li>
            {{end}}
        </ul>
        <form action="/" method="GET">
            <button type="submit">GO BACK</button>
        </form>
    </div>
</body>
</html>
