body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

h1 {
    margin-top: 20px;
    color: #4CAF50;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.artist {
    background-color: #000000;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255);
}

.info {
    text-align: left;
    padding: 0px 50px;
}

.artist-name {
    font-size: 1.2em;
    font-weight: bolder;
    color: #ddd;
    margin: 10px 0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.artist img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

h3 {
    font-size: 1.9em;
}

p {
    padding-left: 10px;
    font-weight: bolder;
}

ul li {
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
    font-weight: bolder;
}

.search-container {
    position: relative;
    max-width: 400px;
    margin: 50px auto;
}

/* Стиль строки поиска */
#search-bar {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

#search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

/* Стиль выпадающего списка предложений */
.suggestions-box {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    z-index: 10;
}

/* Стиль каждого элемента предложений */
.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.suggestion-item em {
    color: #666;
    font-style: normal;
    font-weight: bold;
}

/* Выделение при наведении на предложение */
.suggestion-item:hover {
    background-color: #f7f7f7;
}